@use '../abstracts/' as abstracts;
@use 'sass:color';
@use 'sass:map';

.header {
    @include abstracts.flexContainer(-1, row, center, space-between);
    @include abstracts.padding((38px, 21px, 38px, 15px));
    width: 100%;
    position: fixed;
    background-color: abstracts.$white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;

    @include abstracts.responsive(tab) {
        @include abstracts.padding((33px, 65px, 33px, 68px));
    }

    @include abstracts.responsive(desktop) {
        @include abstracts.padding((69px, 100px, 66px, 150px));
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: abstracts.pxToRem(992px);
        height: abstracts.pxToRem(1024px);
        transform: translate(-50%, -50%);
        background: radial-gradient(
            circle,
            rgba(255, 87, 34, 0.2) -1%,
            transparent 70%
        );
        pointer-events: none;
        z-index: 1002;
    }

    &__nav-links {
        @include abstracts.flexContainer(-1, column, flex-start, flex-start);
        background: linear-gradient(to right, #ffded5, white);
        width: 70vw;
        height: 100vh;
        position: absolute;
        left: 100vw;
        top: 100%;
        transition: transform 0.5s ease;
        z-index: 1001;
        color: abstracts.$transparent-black;
        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        li {
            @include abstracts.padding((20px, 20px, 20px, 40px));
            cursor: pointer;
            width: 100%;
            border-top: abstracts.pxToRem(1px) solid
                color.adjust(abstracts.$black, $alpha: -0.8);
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        @include abstracts.responsive(tab) {
            width: 50vw;
            left: 0;
            transform: translateX(-50vw);
            will-change: transform;
        }

        @include abstracts.responsive(desktop) {
            @include abstracts.flexContainer(65px, row, center, center);
            position: static;
            width: auto;
            height: auto;
            border: none;
            transform: translateX(0);
            background: transparent;

            li {
                padding: 0;
                border: none;
                width: auto;
                font-size: abstracts.pxToRem(14px);
                &:hover {
                    color: abstracts.$charcoal-blue;
                    transition: color 0.3s ease;
                }
            }
        }
    }
    &__cta {
        display: none;
        font-size: abstracts.pxToRem(14px);

        @include abstracts.responsive(tab) {
            @include abstracts.flexContainer(-1, row, center, center);
        }
    }
    &__menu {
        @include abstracts.padding((9px, 9px, 3px, 9px));
        border-radius: 10px;
        font-size: abstracts.pxToRem(22px);
        background-color: abstracts.$violet-blue;
        z-index: 1004;

        @include abstracts.responsive(tab) {
            order: -1;
        }

        @include abstracts.responsive(desktop) {
            display: none;
        }
    }
    &__menu-icon {
        color: abstracts.$white;
    }
    &__logo {
        @include abstracts.responsive(tab) {
            padding-left: abstracts.pxToRem(280px);
        }

        @include abstracts.responsive(desktop) {
            padding: 0;
        }
    }
}

.open-drawer {
    transform: translateX(-70vw);

    @include abstracts.responsive(tab) {
        transform: translateX(0);
    }
}

.slider-cta {
    &__signup {
        color: abstracts.$violet-blue;
    }

    @include abstracts.responsive(tab) {
        display: none;
    }
}
