@use '../abstracts/' as abstracts;
@use 'sass:color';
@use 'sass:map';

.header {
    @include abstracts.flex-container(-1, row, center, space-between);
    @include abstracts.padding((38px, 21px, 38px, 15px));
    width: 100%;
    position: sticky;
    background-color: abstracts.$white;
    top: 0;
    z-index: 1002;

    @include abstracts.responsive(tab) {
        @include abstracts.padding((33px, 65px, 33px, 68px));
    }
    @include abstracts.responsive(desktop) {
        @include abstracts.padding((69px, 100px, 66px, 150px));
    }
    &__nav-links {
        cursor: pointer;
        @include abstracts.flex-container(0, column, flex-start, flex-start);
        background-color: abstracts.$white;
        width: 70dvw;
        height: 100dvh;
        position: absolute;
        left: 100dvw;
        top: 100%;
        transition: transform 0.5s ease;
        border-left: abstracts.px-to-rem(1px) solid rgba(0, 0, 0, 0.5);

        z-index: 1001;
        color: color.scale(abstracts.$black, $alpha: -50%);
        li {
            width: 100%;
            @include abstracts.padding((20px, 20px, 20px, 40px));
            border-top: abstracts.px-to-rem(1px) solid abstracts.$light-grey;
        }

        @include abstracts.responsive(tab) {
            width: 50dvw;
            left: 0;
            right: 100%;
            transform: translateX(-50dvw);
            border-right: abstracts.px-to-rem(1px) solid rgba(0, 0, 0, 0.5);
        }
        @include abstracts.responsive(desktop) {
            @include abstracts.flex-container(
                abstracts.px-to-rem(65px),
                row,
                center,
                center
            );
            position: static;
            width: auto;
            height: auto;
            border: none;
            transform: translateX(0);

            li {
                padding: 0;
                border: none;
                width: auto;
                &:hover {
                    color: abstracts.$charcoal-blue;
                    transition: color 0.3s ease;
                }
            }
        }
    }
    &__cta {
        display: none;
        @include abstracts.responsive(tab) {
            @include abstracts.flex-container(-1, row, center, center);
        }
        @include abstracts.responsive(desktop) {
            @include abstracts.flex-container(-1, row, center, center);
        }
    }
    &__menu {
        @include abstracts.responsive(desktop) {
            display: none;
        }
        @include abstracts.responsive(tab) {
            order: -1;
        }
    }
    &__menu-icon {
        border-radius: 10px;
        padding: abstracts.px-to-rem(9px);
    }
    &__logo {
        @include abstracts.responsive(tab) {
            padding-left: 280px;
        }
        @include abstracts.responsive(desktop) {
            padding: 0;
        }
    }
}

.open-drawer {
    transform: translateX(-70dvw);
    @include abstracts.responsive(tab) {
        transform: translateX(0);
    }
}

.slider-cta {
    &__signup {
        color: abstracts.$violet-blue;
    }
    @include abstracts.responsive(tab) {
        display: none;
    }
    @include abstracts.responsive(desktop) {
        display: none;
    }
}

.main-content {
    position: relative;
}
