@use '../abstracts/' as abstracts;
@use 'sass:color';

.hero {
    @include abstracts.flexContainer(-1, column, center, center);
    position: relative;
    margin-bottom: abstracts.pxToRem(63px);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: abstracts.pxToRem(480px);
        height: abstracts.pxToRem(480px);
        transform: translate(-50%, -50%);
        background: radial-gradient(
            circle,
            rgba(255, 87, 34, 0.2) 0%,
            transparent 74%
        );
        pointer-events: none;
        z-index: 1002;
    }

    &__arrow {
        display: none;
        position: absolute;
        @include abstracts.responsive(tab) {
            display: block;
            width: abstracts.pxToRem(67px);
            height: auto;
            top: 75.5%;
            left: -3%;
        }

        @include abstracts.responsive(desktop) {
            top: 76%;
            left: -7%;
        }
    }
}

.hero-main {
    @include abstracts.flexContainer(5px, column, center, center);

    @include abstracts.responsive(tab) {
        gap: 0;
    }

    @include abstracts.responsive(desktop) {
        @include abstracts.flexContainer(-1, row, center, center);
        align-items: stretch;
    }

    &__heading {
        @include abstracts.multilineEllipsis(3);

        @include abstracts.responsive(tab) {
            padding-top: abstracts.pxToRem(8px);
        }

        @include abstracts.responsive(desktop) {
            padding-top: abstracts.pxToRem(49px);
        }
    }

    &__image-container {
        width: 100%;
        padding-top: abstracts.pxToRem(27px);
        height: auto;
        overflow: hidden;

        @include abstracts.responsive(tab) {
            @include abstracts.padding((62px, 58px, 12px, 58px));
        }

        @include abstracts.responsive(desktop) {
            order: 2;
            padding: 0;
        }
    }

    &__content {
        @include abstracts.flexContainer(21px, column, center, center);
        padding-top: abstracts.pxToRem(8px);
        text-align: center;

        @include abstracts.responsive(tab) {
            @include abstracts.padding((5px, 146px, 8px, 142px));
            gap: abstracts.pxToRem(38px);
        }

        @include abstracts.responsive(desktop) {
            @include abstracts.padding((26px, 0px, 63px, 6px));
            order: 1;
            gap: 0;
            align-items: flex-start;
            text-align: left;
            max-width: abstracts.pxToRem(426px);
        }
    }

    &__buttons {
        @include abstracts.flexContainer(25px, column, center, center);
        width: 100%;
        padding-top: abstracts.pxToRem(10px);
        font-size: abstracts.pxToRem(14px);

        button {
            @include abstracts.padding((24px, 32px));
            width: 100%;
            border-radius: 40px;
        }

        @include abstracts.responsive(tab) {
            @include abstracts.flexContainer(23px, row, center, center);
            width: auto;
            padding-top: abstracts.pxToRem(2px);

            button {
                @include abstracts.padding((16px, 32px));
                width: auto;
            }
        }

        @include abstracts.responsive(desktop) {
            padding-top: abstracts.pxToRem(64px);
        }
    }

    &__description {
        @include abstracts.multilineEllipsis(3);
        @include abstracts.padding((0px, 2px));

        @include abstracts.responsive(tab) {
            @include abstracts.padding((4px, 82px, 0px, 82px));
        }

        @include abstracts.responsive(desktop) {
            padding: 0;
            padding-top: abstracts.pxToRem(41px);
        }
    }
}

.hero-clients {
    @include abstracts.flexContainer(32px, column, center, center);
    flex-wrap: wrap;
    padding-top: abstracts.pxToRem(62px);

    @include abstracts.responsive(tab) {
        padding-top: abstracts.pxToRem(150px);
    }

    @include abstracts.responsive(desktop) {
        padding-top: abstracts.pxToRem(85px);
        flex-direction: row;
        gap: abstracts.pxToRem(95px);
    }
    img {
        height: abstracts.pxToRem(20px);

        @include abstracts.responsive(tab) {
            max-height: abstracts.pxToRem(32px);
            height: auto;
        }
    }

    &__row {
        @include abstracts.flexContainer(24px, row, center, center);

        @include abstracts.responsive(desktop) {
            gap: abstracts.pxToRem(95px);
        }
    }
}

.kicker {
    @include abstracts.textEllipsis();
    @include abstracts.flexContainer(19px, row, center, center);
    @include abstracts.padding((16px, 32px));
    border-radius: abstracts.pxToRem(30px);
    box-shadow: abstracts.pxToRem(4px) abstracts.pxToRem(14px)
        abstracts.pxToRem(24px) rgba(0, 0, 0, 0.07);
    max-width: abstracts.pxToRem(224px);

    &__text {
        @include abstracts.textEllipsis();
        color: abstracts.$hot-pink;
        font-size: abstracts.pxToRem(14px);
    }
    &__icon {
        font-size: abstracts.pxToRem(21px);
    }
}

.btn-watch-demo {
    @include abstracts.responsive(tab) {
        @include abstracts.padding((11px, 32px));
    }

    &__text {
        font-size: abstracts.pxToRem(14px);
    }

    &__icon {
        display: inline-block;
        font-size: abstracts.pxToRem(25px);
    }
}
