@use '../abstracts' as abstracts;
@use 'sass:color';

.news-letter {
    @include abstracts.flexContainer(61px, column, center, center);
    width: 83%;
    margin: 0 auto;

    @include abstracts.responsive(tab) {
        width: 100%;
        @include abstracts.padding((128px, 64px));
    }

    &__content {
        @include abstracts.flexContainer(32px, column, center, center);
    }

    &__heading {
        text-align: center;
    }

    &__subheading {
        text-align: center;
    }

    &__form {
        width: 100%;
        @include abstracts.flexContainer(34px, column, center, center);
        @include abstracts.responsive(tab) {
            justify-content: space-between;
            flex-direction: row;
        }
    }
}

.form {
    @include abstracts.responsive(tab) {
        flex-direction: row;
        align-items: stretch;
    }

    &__input {
        @include abstracts.flexContainer(-1, row, center, center);
        @include abstracts.padding((24px, 80px, 24px, 32px));
        align-self: flex-start;
        gap: abstracts.pxToRem(14px);
        width: 100%;
        color: color.adjust(abstracts.$black, $alpha: -0.4);
        transition: box-shadow 0.3 ease;
        border-radius: 15px;
        &:hover,
        &:focus-visible {
            box-shadow: abstracts.pxToRem(4px) abstracts.pxToRem(14px)
                abstracts.pxToRem(24px) rgba(0, 0, 0, 0.2);
        }

        @include abstracts.responsive(tab) {
            padding-top: abstracts.pxToRem(32px);
            padding-bottom: abstracts.pxToRem(32px);
            padding-right: abstracts.pxToRem(200px);
            width: 230%;
            justify-content: flex-start;
            border-radius: 32px;
        }
    }

    &__input-icon {
        display: inline-block;
        font-size: abstracts.pxToRem(25px);

        @include abstracts.responsive(tab) {
            font-size: abstracts.pxToRem(36px);
        }
    }

    &__input-field {
        border: none;
        @include abstracts.responsive(tab) {
            padding-top: abstracts.pxToRem(6px);
        }

        &::placeholder {
            font-family: 'circular-std';
            font-weight: 700;
            font-size: abstracts.pxToRem(14px);

            @include abstracts.responsive(tab) {
                font-size: abstracts.pxToRem(23px);
            }
        }
    }

    &__button-submit {
        @include abstracts.padding((24px, 64px, 24px, 64px));
        border-radius: 15px;
        width: 100%;

        @include abstracts.responsive(tab) {
            padding-top: abstracts.pxToRem(32px);
            padding-bottom: abstracts.pxToRem(32px);
            border-radius: 32px;
            font-size: abstracts.pxToRem(23px);
            font-family: 'circular-std';
            font-weight: 700;
        }
    }
}
