@use '../abstracts/' as abstracts;

.services {
    @include abstracts.flexContainer(-1, column, center, center);
    position: relative;

    &__content {
        @include abstracts.flexContainer(15px, column, center, center);
    }
    &__content-subheading {
        text-align: center;
    }

    &__cards {
        @include abstracts.flexContainer(13px, column, center, center);
        padding-top: abstracts.pxToRem(30px);
    }

    @include abstracts.responsive(tab) {
        gap: abstracts.pxToRem(32px);
        &__cards {
            flex-direction: row;
            gap: abstracts.pxToRem(18px);
            align-items: stretch;
        }
    }

    @include abstracts.responsive(desktop) {
        flex-direction: row;
        gap: 0;
        .card__third {
            display: none;
        }

        &__content {
            align-items: self-start;
            padding-top: abstracts.pxToRem(60px);
            padding-left: abstracts.pxToRem(6px);
            gap: abstracts.pxToRem(20px);
        }
        &__content-subheading {
            text-align: left;
        }
    }
}
