@use '../abstracts' as abstracts;
@use 'sass:list';

.btn {
    border-radius: abstracts.$bd-radius;
    padding: abstracts.px-to-rem(list.nth(abstracts.$btn-padding, 1))
        abstracts.px-to-rem(list.nth(abstracts.$btn-padding, 2));
    color: abstracts.$dark-charcoal;
    @include abstracts.flex-container(1, row, center, space-between);

    &--primary {
        background-color: abstracts.$violet-blue;
        color: abstracts.$white;
    }
    &--secondary {
        border: abstracts.px-to-rem(1px) solid abstracts.$light-grey;
    }

    &--secondary-with-icon {
        .icon [class^='icon-'],
        [class*='icon-'] {
            font-size: abstracts.px-to-rem(12px);
        }
        border: abstracts.px-to-rem(1px) solid abstracts.$light-grey;
    }
}
