@use '../abstracts' as abstracts;
@use 'sass:list';

.btn {
    border-radius: abstracts.$bd-radius;
    padding: abstracts.pxToRem(list.nth(abstracts.$btn-padding, 1))
        abstracts.pxToRem(list.nth(abstracts.$btn-padding, 2));
    color: abstracts.$dark-charcoal;
    @include abstracts.flexContainer(9px, row, center, center);
    transition: box-shadow 0.3s ease;

    &--primary {
        background-color: abstracts.$violet-blue;
        color: abstracts.$white;
        &:hover,
        &:focus-visible {
            box-shadow: abstracts.$box-shadow;
        }
    }
    &--secondary {
        border: abstracts.pxToRem(1px) solid abstracts.$light-grey;
        &:hover,
        &:focus-visible {
            box-shadow: abstracts.$box-shadow;
        }
    }

    &--secondary-with-icon {
        border: abstracts.pxToRem(1px) solid abstracts.$light-grey;
    }
}
