@use '../abstracts/' as abstracts;
@use 'sass:color';

.decor {
    position: absolute;

    &__arrow {
        display: none;

        @include abstracts.responsive(tab) {
            display: block;
            width: abstracts.pxToRem(67px);
            height: auto;
            top: 75.5%;
            left: -3%;
        }

        @include abstracts.responsive(desktop) {
            top: 76%;
            left: -7%;
        }
    }

    &__yellow-blur {
        display: none;
        @include abstracts.responsive(tab) {
            display: block;
            border-radius: 50%;
            box-shadow: 0 0 abstracts.pxToRem(300px) abstracts.pxToRem(300px)
                color.adjust(abstracts.$golden-yellow, $alpha: -0.8);
            right: -21%;
            top: 20%;
        }

        @include abstracts.responsive(desktop) {
            right: -10%;
            top: 20%;
        }
    }
}
