@use '../abstracts' as abstracts;
@use 'sass:color';

.decor {
    position: absolute;
    &__ticket {
        display: none;
        @include abstracts.responsive(desktop) {
            @include abstracts.flexContainer(-1, row, center, center);
            color: abstracts.$white;
            background-color: abstracts.$golden-yellow;
            font-size: abstracts.pxToRem(47px);
            border-radius: 50%;
            width: abstracts.pxToRem(112px);
            height: abstracts.pxToRem(112px);
            left: 95.8%;
            top: 31%;
            z-index: 1;
        }
    }
    &__arrow {
        display: none;
        @include abstracts.responsive(tab) {
            display: block;
            width: abstracts.pxToRem(67px);
            height: auto;
            top: 75.5%;
            left: -3%;
        }
        @include abstracts.responsive(desktop) {
            top: 76%;
            left: -7%;
        }
    }

    &__bg-wavy {
        display: none;
        @include abstracts.responsive(tab) {
            display: block;
            top: 50%;
            transform: translateY(-69%);
            width: 100vw;
        }
        @include abstracts.responsive(desktop) {
            transform: translateY(-46%);
        }
    }

    &__yellow-blur {
        display: none;

        @include abstracts.responsive(tab) {
            display: block;
            border-radius: 50%;
            box-shadow: 0 0 abstracts.pxToRem(300px) abstracts.pxToRem(300px)
                color.adjust(abstracts.$golden-yellow, $alpha: -0.8);
            right: -21%;
            top: 20%;
        }
        @include abstracts.responsive(desktop) {
            right: -10%;
            top: 20%;
        }
    }
}
