@use 'sass:map';

// Colors
$deep-orange: #ff5722;
$violet-blue: #5d50c6;
$hot-pink: #f85c9f;
$golden-yellow: #facd49;
$charcoal-blue: #191825;
$dark-charcoal: #222831;
$light-grey: #eeeeee;
$white: #ffffff;
$black: #000000;

$brand-colors: (
    hot-pink: $hot-pink,
    golden-yellow: $golden-yellow,
    deep-orange: $deep-orange,
);

//Paths
$fonts: 'assets/fonts';
$images: 'assets/images';

// Fonts
$primary-font: 'circular-std';
$secondary-font: 'inter';
$fallback-font: 'roboto';

$font-weights: (
    regular: 400,
    semibold: 500,
    bold: 700,
);

$font-variants: (
    ($primary-font, '#{$fonts}/#{$primary-font}', semibold),
    ($primary-font, '#{$fonts}/#{$primary-font}', bold),
    ($secondary-font, '#{$fonts}/#{$secondary-font}', regular),
    ($fallback-font, '#{$fonts}/#{$fallback-font}', regular),
    ($fallback-font, '#{$fonts}/#{$fallback-font}', bold)
);

//Breakpoints
$breakpoints: (
    tab: 1024px,
    desktop: 1440px,
);

//Icons
$icons-list: (
    (calendar, '\e902'),
    (date, '\e902'),
    (schedule, '\e902'),
    (ticket, '\e906'),
    (briefcase, '\e903'),
    (envelope, '\e907'),
    (ticket1, '\e904'),
    (location, '\e905'),
    (close, '\e901'),
    (menu, '\e900'),
    (star-full, '\e9d9'),
    (play3, '\ea1c'),
    (arrow-left-2, '\ea40'),
    (arrow-right-2, '\ea3c'),
    (facebook, '\ea90'),
    (instagram, '\ea92'),
    (twitter, '\ea96')
);

//Spacings
$btn-padding: 16px 32px;

//General
$bd-radius: 30px;
$bd-radius-circle: 50%;
