@use '../abstracts' as *;

// Custom CSS-Resets
*,
*::before,
*::after {
    box-sizing: border-box;
}

//setting 1rem = 10px
html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}
figure {
    margin: 0;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}
ul,
ol,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
p {
    margin: 0;
}
cite {
    font-style: normal;
}
fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

//centering and setting all icons white
i {
    color: $white;
    @include flex-container(-1, row, center, center);
}

//Generating classes to add background colors removing the need to repeat styles for only changing the background color (like in icons), just add this class to the HTML element
@each $color,
    $value
        in (
            hot-pink: $hot-pink,
            golden-yellow: $golden-yellow,
            deep-orange: $deep-orange
        )
{
    .#{$color} {
        background-color: $value;
    }
}

//Containerization
body {
    @include flex-container(-1, -1, center, center);
}

.container {
    width: 92.6%;

    @include responsive(tab) {
        width: 87.5%;
    }

    @include responsive(desktop) {
        width: 82.823%;
    }
}
