@use '../abstracts' as abstracts;

// Custom CSS-Resets
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}
figure {
    margin: 0;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}
ul,
ol,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
p {
    margin: 0;
}
cite {
    font-style: normal;
}
fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

//centering and setting all icons white
.icon [class^='icon-'],
[class*='icon-'] {
    @include abstracts.flexContainer(-1, row, center, center);
}

//Generating classes to add background and text colors, removing the need to repeat styles for only changing the background or text color (like in icons/highlights), just add this class to the HTML element
@each $color, $value in abstracts.$brand-colors {
    .bg-#{$color} {
        background-color: $value;
    }
    .text-#{$color} {
        color: $value;
    }
}

//Containerization
.container {
    width: 92.6%;
    max-width: 398px;
    margin: 0 auto;

    @include abstracts.responsive(tab) {
        max-width: 896px;
        width: 87.5%;
    }

    @include abstracts.responsive(desktop) {
        max-width: 1192.65px;
        width: 82.823%;
    }
}
