@use '../abstracts' as abstracts;

html,
body {
    overflow-x: hidden;
    overflow-x: clip;
}

body {
    position: relative;
}

//Containerization
.container {
    max-width: 398px;
    width: 92.6%;
    margin: 0 auto;
    padding-top: abstracts.pxToRem(120.391px);
    @include abstracts.responsive(tab) {
        padding-top: abstracts.pxToRem(114.094px);
        max-width: 896px;
        width: 87.5%;
    }

    @include abstracts.responsive(desktop) {
        padding-top: abstracts.pxToRem(206.094px);
        max-width: 1192.65px;
        width: 82.823%;
    }
}

//Filling image throughout the container
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
