@use '../abstracts' as abstracts;
@use 'sass:list';
@use 'sass:map';

//creating font variants
@each $font in abstracts.$font-variants {
    $name: list.nth($font, 1);
    $weight: list.nth($font, 3);
    $src: '#{list.nth($font, 2)}/#{$weight}';
    @include abstracts.font-face(
        $name,
        $src,
        map.get(abstracts.$font-weights, $weight),
        ('woff2', 'woff')
    );
}

//base font style
body {
    font-family: abstracts.$primary-font, abstracts.$fallback-font;
    font-size: abstracts.$default-font-size;
}

//setting up common typography styles
.section {
    &__heading {
        color: abstracts.$hot-pink;
        letter-spacing: abstracts.px-to-rem(4.6px);
        font-size: abstracts.px-to-rem(23px);
        text-transform: uppercase;
        padding-bottom: abstracts.px-to-rem(5px);
        font-weight: 700;
    }

    &__subheading {
        color: abstracts.$charcoal-blue;
        font-size: abstracts.px-to-rem(44px);
        padding-bottom: abstracts.px-to-rem(5px);
        font-weight: 700;
    }

    &__description {
        font-family: abstracts.$secondary-font;
        font-weight: 400;
        font-size: abstracts.px-to-rem(18px);
        color: abstracts.$charcoal-blue;
        line-height: 1.6;
    }
}
