@use '../abstracts' as abstracts;
@use 'sass:list';
@use 'sass:map';

//creating font variants
@each $font in abstracts.$font-variants {
    $name: list.nth($font, 1);
    $weight: list.nth($font, 3);
    $src: '#{list.nth($font, 2)}/#{$weight}';
    @include abstracts.fontFace(
        $name,
        $src,
        map.get(abstracts.$font-weights, $weight),
        ('woff2', 'woff')
    );
}

//base font style
body {
    font-family:
        abstracts.$primary-font,
        abstracts.$fallback-font,
        system-ui,
        -apple-system,
        'Segoe UI',
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 700;
}

@include abstracts.setOverallTypography(
    (40px, 16px, 32px, 32px, 24px, 23px, 16px)
);

@include abstracts.responsive(tab) {
    @include abstracts.setOverallTypography(
        (56px, 23px, 40px, 40px, 28px, 23px, 18px)
    );
}

@include abstracts.responsive(desktop) {
    @include abstracts.setOverallTypography(
        (69px, 23px, 55px, 44px, 28px, 23px, 18px)
    );
}
